extends layout
block body
    each account, i in accounts
        h3= account.vendorName
            small
                = ' ' + account.description
        h4
            = account.paymentSchedules.length
            |  Payment schedules
        table.table.table-condensed
            thead
                th Amount
                th Start
                th Regularity
                th Repeat on
                th Expiration
            tbody
                each sch in account.paymentSchedules
                    tr
                        td= sch.amount
                        td
                            = sch.startDate.getDate()
                            | /
                            = sch.startDate.getMonth()
                            | /
                            = sch.startDate.getFullYear()
                        td
                            if sch.daily
                                | every day
                            else if sch.weeklyDays.length
                                | every
                                = sch.weeklyGap > 0 ? ' ' + (sch.weeklyGap + 1) + ' weeks' : ' week'
                            else if sch.monthlyDates.length
                                | every
                                = sch.monthlyGap > 0 ? ' ' + (sch.monthlyGap + 1) + ' months' : ' month'

                            else
                                | -
                        td
                            if sch.daily
                                | every day

                            else if sch.weeklyDays.length
                                each day in sch.weeklyDays
                                    = days[day] + " "

                            else if sch.monthlyDates.length
                                each date in sch.monthlyDates
                                    = date == -1 ? 'last-day' : date + ( date > 10 && date < 20 ? 'th' : ( date % 10 == 1 ? 'st' : ( date % 10 == 2 ?  'nd' : ( date % 10 == 3 ? 'rd' : 'th' ) ) ) )

                            else
                                | -
                            //- TODO: Add specials (specific monthly week)
                        td
                            if sch.forDays
                                = sch.forDays + " days"

                            else if sch.forWeeks
                                = sch.forWeeks + " weeks"

                            else if sch.forMonths
                                = sch.forMonths + " months"

                            else if sch.forYears
                                = sch.forYears + " years"

                            else if sch.endDate
                                | on
                                = ' ' + sch.endDate.getDate()
                                | /
                                = sch.endDate.getMonth()
                                | /
                                = sch.endDate.getFullYear()

                            else
                                | Never expires
        h4 Next payments
        each sch in account.paymentSchedules
            h5= sch.description
            table.table.table-condensed
                thead
                    th Date
                    th Day
                    th Amount
                tbody
                    each payment, i in getDerPayments(sch, 10)
                        tr
                            td
                                //- = payment.date.toString()
                                = payment.date.getDate()
                                | /
                                = payment.date.getMonth()
                                | /
                                = payment.date.getFullYear()
                            td= days[payment.date.getDay()]
                            td= '£' + payment.amount

